.Indicator{
	height: 100%;
	position: relative;
}

.indicator-img {
	height: 100%;
	width: 100%;
	position: absolute;
	background:
	radial-gradient(closest-side, transparent, #18191a),
	url(../../assets/empty.png);
	background-size:cover;
	opacity: 0.3;
	
}

.indicator-text{
	font-weight: bold;
	font-size: 2.5rem;
	position: absolute;
	top: 40%;
	left: 35%;
}
