.searchIcon{
	width: 14px;
	position: relative;
	top: 2px;
	left: 20px;
}

.searchInput{
	padding-top: 0px;
	padding-left: 25px;
	border-radius: 20px;
	height: 28px;
	width: 200px;
	border-width: 0px;
	font-size: 0.8rem;
}

.searchInput::placeholder{
	color:black;
	font-weight: 400;
	font-size: 0.8rem;
}

.searchInput:focus{
 outline: none;
}