.title{
	font-weight: bold;
	font-size: 2.5rem;
	padding: 40px;
}

.searchBox{
	margin: 10px 60px;
	border-radius: 20px;
	height: 20px;
}

.searchBox::placeholder{
	color: black;
}

.songTable{
	table-layout: fixed;
	border-collapse: collapse;
	width: 100%;
}

.table-wrapper{
	margin: 20px 60px;
}

.songTable th{
	text-align: left;
	font-size: 0.85rem;
	font-weight: normal;
	color: #a9abadd9;
	padding: 10px 100px;
}

.songTable tr th {
	border-bottom: 0.4px solid #2c2e2fd9;
}