.statItem{
	margin: 16px 16px;
}

.statItemHeader{
	padding: 14px 0px;
	display: flex;
	justify-content: space-between;
}

.statTitle{
	color: #9aabb3d9;
}

.statValue{
	color: #e5f9f9d9;
}

.statTitle::first-letter{
	text-transform: capitalize;
}