.statBar{
	position: relative;
}

.defaultStatBar{
	position: absolute;
	height: 3px;
	width: 100%;
	background-color: #535b5fd9;
	border-radius: 2px;
}

.valueStatBar{
	position: absolute;
	height: 3px;
	background-color: #298edb;
	border-radius: 2px;
	width: 0%;
	transition: all 2s ease;
	transition-delay: 0.1s;
}

.valueStatBar::after{
	position: absolute;
    content: '';
    top: -2px;
    right: 0px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #298edb;
}